@model MVCBootstrapJQueryTutorial_NETFramework.Models.EmployeeViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container" style="width: 40%; margin-top: 2%">

    @using (@Html.BeginForm("SaveRecord", "Test", FormMethod.Post))
    {
        @Html.DropDownListFor(
                model => model.DepartmentId,
                ViewBag.DepartmentList as SelectList,
                "--Select--",
                new { @class = "form-control" }
                )
        @Html.TextBoxFor(model => model.Name,
                    new { @class = "form-control", @placeholder = "Name" })
        @Html.TextBoxFor(model => model.Address,
                    new { @class = "form-control", @placeholder = "Address" })
        @* PERFECTLY WORKING. Just to learn how to use checkbox
                <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Remember)
                    Check out this
                </label>
            </div>*@
        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
    }
</div>
